<div class="my-4">

    <h3 class="text-success">Tìm kiếm bài viết</h3>
    <partial name="_SearchForm" />

    @await Component.InvokeAsync("CategoriesWidget")

  @*  <h3>Bài viết nổi bật </h3>
    <hr />
    <h3>Đăng ký nhận tin mới</h3>
    <hr />
    <h3> Tag cloud</h3>*@
    @await Component.InvokeAsync("OutstandPostWidget")
    @await Component.InvokeAsync("RandomPostsWidget")

    <h3 class="text-success mb-2">
        Đăng ký nhận tin mới
    </h3>
    @await Component.InvokeAsync("TagsWidget")

</div>