@model TatBlog.WebApp.Areas.Admin.Models.SubscriberFilterModel

@{
  Layout = "_SearchForm";
}

<div class="col-auto">
  <label class="visually-hidden" asp-for="Email"></label>
  <input type="text" class="form-control" placeholder="Nhập email ..." asp-for="Email">
</div>
<div class="col-auto">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" asp-for="ForceLock" >
    <label class="form-check-label" asp-for="ForceLock"></label>
  </div>
</div>
<div class="col-auto">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" asp-for="UnsubscribeVoluntary" >
    <label class="form-check-label" asp-for="UnsubscribeVoluntary"></label>
  </div>
</div>