<div class="mb-4">
  <h3 class="text-success mb-2">
    Đăng ký nhận thông báo khi có bài viết mới của chúng tôi
  </h3>

  <div class="row">
    <section>
        <form method="post"
              asp-area=""
              asp-controller="NewsLetter"
              asp-action="Subscribe">
          <div class="form-floating mb-3">
              <input id="email" name="email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
              <label for="email" class="form-label" >Email</label>
          </div>
          <button type="submit" class="btn btn-secondary">Đăng ký</button>
        </form>
    </section>
  </div>
</div>