@{
    ViewData["PageTitle"] = "Giới Thiệu";
}
<h1>
    Chào mừng đến với blog về công nghệ
</h1>
<h5 >
    Đây là nơi để bạn cập nhật những tin tức mới nhất, 
    các sản phẩm công nghệ mới nhất và các xu hướng mới nhất trong lĩnh vực công nghệ. 
    Với sự phát triển nhanh chóng của công nghệ, chúng ta không thể bỏ lỡ bất kỳ thông tin quan trọng nào. 
    Nếu bạn đam mê công nghệ và muốn ở lại trong sự phát triển của nó, 
    thì hãy cùng tham gia vào blog của chúng tôi để được cập nhật những thông tin mới nhất về công nghệ!
</h5>