@{
    ViewData["PageTitle"] = "Cám ơn";
}

<h2>Cám ơn</h2>
<p>Phản hồi hoặc câu hỏi của bạn đã được nhận. Chúng tôi sẽ liên hệ lại với bạn ngay.</p>

<a asp-controller="Contact" asp-action="Contact">Quay lại Liên hệ</a>