@model TatBlog.WebApp.Areas.Admin.Models.PostFilterModel

<form method="get"
      class="row gy-2 gx-3 align-items-center"
      asp-area="Admin"
      asp-controller="Posts"
      asp-action="Index">
  <div class="col-auto">
    <label class="visually-hidden" asp-for="Keyword"></label>
    <input type="text" class="form-control" placeholder="Nhập từ khóa ..." asp-for="Keyword">
  </div>
  <div class="col-auto">
    <label class="visually-hidden" asp-for="AuthorId"></label>
        <select class="form-select"
        asp-for="AuthorId" 
        asp-items="Model.AuthorList">
      <option value="" selected>-- Chọn tác giả</option>
    </select>
  </div>
  <div class="col-auto">
    <label class="visually-hidden" asp-for="CategoryId"></label>
        <select class="form-select"
        asp-for="CategoryId"
        asp-items="Model.CategoryList">
      <option value="" selected>-- Chọn chủ đề</option>
    </select>
  </div>
  <div class="col-auto">
        <label class="visually-hidden" asp-for="Year"></label>
        <input class="form-control"  type="text" placeholder="Nhập năm ..." asp-for="Year">
  </div>
  <div class="col-auto">
    <label class="visually-hidden" asp-for="Keyword"></label>
        <select class="form-select"  
        asp-for="Month" 
        asp-items="Model.MonthList">
      <option value="" selected>-- Chọn tháng</option>
    </select>
  </div>

  <div class="col-auto">
        <button class="btn btn-primary"  
        type="submit">Tìm lọc</button>
    <a class="btn btn-success"
       asp-area="Admin"
       asp-controller="Posts"
       asp-action="Edit">
       Thêm mới
    </a>
    <a asp-area="Admin"
       asp-controller="Posts"
       asp-action="Index" class="btn btn-outline-danger">
       Bỏ lọc
    </a>

  </div>
</form>